{% extends 'base.html.twig' %}
{% block body %}
  <br>
  <div class="container">
  <H2>New Product</H2>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../img/samsung_galaxy_s22_ultra_banner.jpg" class="rounded mx-auto d-block w-70"  alt="Image not available">
    </div>
    <div class="carousel-item">
      <img src="../img/xiaomi_12_pro_baner.jpg" class="rounded mx-auto d-block w-70" alt="Image not available">
    </div>
    <div class="carousel-item">
      <img src="../img/iphone_13_pro_max_banner_hd.jpg" class="rounded mx-auto d-block w-70" alt="Image not available">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<br>
<div class="container">
  <H2>All Product</H2>
  <br>
  {# all product #}
  <div class="row" style="background-color: aliceblue;">
      <!-- product1 -->     
      {% for p in product %} 
        <div class="col-md-4">
            <div class="card">
               <br>
              <img 
                src="./img/{{p.Productimage}}"
                class="card-img-top"
                alt="Not image available" style="margin: auto;
                width: 80%;"
              />
              <div class="card-body align-self-center">
                <a href="{{ path('productDetail', {'id' : p.id})}}" class="text-decoration-none"><h5 class="card-title text-center">{{p.Productname}}</h5></a>
                <h6 class="card-subtitle mb-2 text-muted text-center"><span></span>{{p.Price}} VND</h6>
                {% if app.user %}
                <a href="{{ path('addcart', {'id' : p.id})}}" class="btn btn-primary">Add to Cart <i class="fa fa-shopping-cart" style="font-size:20px"></i></i></a>
                {% else %}
                <a href="{{ path('app_login')}}" class="btn btn-primary">Add to Cart <i class="fa fa-shopping-cart" style="font-size:20px"></i></i></a>
                {% endif %}  
                  <form>
                  <input class="form-check-input" name ="checkbox" type="checkbox" value = "{{p.id}}" id="checkBox{{p.id}}">
                  <label class="form-check-label" for="flexCheckDefault">
                    Add to compare
                  </label>
                <script language="javascript">
                  var compareList = [];
                    document.getElementById("checkBox{{p.id}}").onclick = function(e){
                      if (this.checked){
                        if(compareList.length < 2)
                        {
                          compareList.unshift({{p.id}});
                          document.getElementById("proA").value = compareList[0];
                          document.getElementById("proB").value = compareList[1];
                        }
                        else{
                          alert('Max 2 products');
                          document.getElementById("checkBox{{p.id}}").checked = false;
                        }
                      }
                      else{
                        for (i = 0; i < compareList.length; ++i){
                          if(compareList[i] == {{p.id}}){
                            compareList.splice(i, 1);
                          }
                        }
                      }
                };
                </script>
                </form>
              </div>
            </div>
            <br>
        </div>
    {% endfor %}
  </div>  
  {# all product #}

</div>
{% endblock %}