{# serch page #}
{% extends 'base.html.twig' %}

{% block body %}
<main style="min-height: calc(100vh - 116px - 56px - 246px);">
    <div class="container">
  <H4>Found {{count}} result with key " {{mess}} "</H4>
  <br>
  {# all product #}
  <div class="row" style="background-color: aliceblue;">
      <!-- product1 -->
      {% for p in product %}
        <div class="col-md-4">
            <div class="card">
              <img 
                src="./img/{{p.Productimage}}"
                class="card-img-top"
                alt="Not image available" style="margin: auto;
                width: 80%;"
              />
              <div class="card-body align-self-center">
                <a href="{{ path('productDetail', {'id' : p.id})}}" class="text-decoration-none"><h5 class="card-title text-center">{{p.Productname}}</h5></a>
                <h6 class="card-subtitle mb-2 text-muted text-center"><span></span>{{p.Price}} VND</h6>
                <a href="{{ path('home_page', {'id' : p.id})}}" class="btn btn-primary">Add to Cart <i class="fa fa-shopping-cart" style="font-size:20px"></i></i></a>
                                  <form>
                  <input class="form-check-input" name ="checkbox" type="checkbox" value = "{{p.id}}" id="checkBox{{p.id}}">
                  <label class="form-check-label" for="flexCheckDefault">
                    Add to compare
                  </label>
                <script language="javascript">
                  var compareList = [];
                    document.getElementById("checkBox{{p.id}}").onclick = function(e){
                      if (this.checked){
                        if(compareList.length < 2)
                        {
                          compareList.unshift({{p.id}});
                          document.getElementById("proA").value = compareList[0];
                          document.getElementById("proB").value = compareList[1];
                        }
                        else{
                          alert('Max 2 products');
                          document.getElementById("checkBox{{p.id}}").checked = false;
                        }
                      }
                      else{
                        for (i = 0; i < compareList.length; ++i){
                          if(compareList[i] == {{p.id}}){
                            compareList.splice(i, 1);
                          }
                        }
                      }
                };
                </script>
                </form>
              </div>
            </div>
        </div>
      <br>
    {% endfor %}
  </div>  
</div>
</main>
{% endblock %}