{% extends 'base.html.twig' %}

{% block body %}
<main style="min-height: calc(100vh - 116px - 56px - 246px);">

    <div id="main">
                <div class="container ">
                    <h3>Manager Order</h3>
                </div>
                <div class="page-content">
                <div class="btn-group" role="group" aria-label="Basic outlined example">
               
                </div>
                <div class="container mb-3">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">ID</th>
                            <th scope="col">OrderDate</th>
                            <th scope="col">DeliveryDate</th>
                            <th scope="col">Address</th>
                            <th scope="col">Payment</th>
                            <th scope="col">Status</th>
                            <th scope="col">CustomerID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for o in order %}
                                <tr>
                                    <td>{{o.Oid}}</td>
                                    <td>{{o.Orderdate|date("m/d/Y")}}</td>
                                    {% if o.Deliverydate == null %}
                                    <td>{{o.Deliverydate}}</td>
                                    {% else %}
                                    <td>{{o.Deliverydate|date("m/d/Y")}}</td>
                                    {% endif %}
                                    <td>{{o.Address}}</td>
                                    <td>{{o.Payment}}</td>
                                    {% if o.Status == 0 %}
                                    <td>Delivering</td>
                                    {% else %}
                                    <td>Delivered</td>
                                    {% endif %}
                                    <td>{{o.user}}</td>          
                                    <td>
                                        <a href="{{ path('updateorder', {'id' : o.Oid})}}" class="btn rounded-pill text-light" style="background-color: rgba(26,148,255,255);"> Update </a>
                                    </td>
                                    <td>
                                        <a href="{{ path('orderdetail', {'id' : o.Oid})}}" class="btn rounded-pill text-light" style="background-color: rgba(26,148,255,255);"> Detail </a>
                                    </td>
                                </tr>     
                                {% endfor %}                        
                        </tbody>
                    </table>
             </div>
            </div>
    </div>
    </main>
{% endblock %}
